<div class="container" *ngIf="currentWeather">
	<div class="weather-data">
		<div class="photo">
			<!-- l'image change par rapport à l'heure (jour et nuit) -->
			<img
				src="../../../../../assets/day.jpg"
				alt=""
				*ngIf="currentWeather.current_weather.is_day === 1"
			/>
			<img
				src="../../../../../assets/night.jpg"
				alt=""
				*ngIf="currentWeather.current_weather.is_day === 0"
			/>
		</div>
		<div class="infos">
			<span class="location">{{ currentCity }}</span>
			<span class="temperature"
				>{{ currentWeather.current_weather.temperature }}°</span
			>
		</div>
	</div>
	<div class="details">
		<div class="details-infos">
			<img class="icone" src="../../../../../assets/celsius.png" alt="" />
			<div class="more-infos">
				<span>Météo</span>
				<span>{{ currentMeteo }}</span>
			</div>
		</div>
		<div class="details-infos">
			<img class="icone" src="../../../../../assets/wind.png" alt="" />
			<div class="more-infos">
				<span>Vitesse du vent</span>
				<span>{{ currentWeather.current_weather.windspeed }} km/h </span>
			</div>
		</div>
		<div class="details-infos">
			<img
				class="icone"
				src="../../../../../assets/wind-direction.png"
				alt=""
			/>
			<div class="more-infos">
				<span>Direction du vent</span>
				<span>{{ currentWeather.current_weather.winddirection }}</span>
			</div>
		</div>
	</div>
</div>
