* {
    background-color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85px;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: 50px;

        a {
            text-decoration: none;
            font-size: 1.5rem;
            color: bisque;
            &:hover {
                color: black;
            }

        }

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 300px;
        }


    }

    .form {
        margin-right: 50px;
        display: flex;
        justify-content: space-around;
        width: 600px;
    }

    label {
        visibility: hidden;
    }

    input {
        border-radius: 20px;
        width: 200px;
        height: 40px;
        border-color: bisque;
    }
      ::placeholder {
        color: bisque;
        font-size: 1.2em;
      } 
      :focus {
        outline: none;
      }
    

    button {
        border-radius: 20px;
        background-color: bisque;
        &:hover {
            color: blueviolet;
        }
    }
}



.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40vh;


    .weather-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;

        .photo img {
            width: 300px;
            height: 200px;
            border-radius: 15px;
            box-shadow: black;
            margin-right: 60px;
        }

        .infos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 10vh;
        }

        .location {
            font-size: 2em;
            color: bisque;
        }

        .temperature {
            font-size: 2.2em;
            color: bisque;
        }
    }
    .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        align-items: center;
        width: 700px;
        height: 15vh;
    }
    .icone {
        width: 50px;
        height: 50px;
    }
    .details-infos {
        display: flex;
        justify-content: space-evenly;
       
    }
    .more-infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        span {
            color: bisque;
            font-size: 1.2em;
        }
    }
}
.hours-data {
    display: flex;
    
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
      
    }
    .hour {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 20vh;
    }
    img {
        width: 40px;
     }
     span {
        font-size: 1.5em;
        color: bisque;
     }
}
.forecast {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    .daily {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 40vh;
    }
}