<ul class="forecast glass">
	<li *ngFor="let day of dailyWeather; index as i">
		<span class="time">{{ day.time }}</span>

		<div class="meteo-img">
			<img src="{{ getImage(day.weathercode) }}" alt="" />
		</div>

		<div class="temp-container">
			<div class="temperature">
				<span class="label">Température minimum</span>
				<span>{{ day.temperature_2m_min }}</span>
			</div>
			<div class="temperature">
				<span class="label">Température maximum</span>
				<span>{{ day.temperature_2m_max }}</span>
			</div>
		</div>
	</li>
</ul>
