<div >
    <ul class="forecast">
        <li>
            <div class="daily">
                <span>Lundi</span>
                <img src="../../../../../assets/thunderstorm.png" alt="">
                <span>Température</span>
            </div>
        </li>
        <li>
            <div class="daily">
                <span>Mardi </span>
                <img src="../../../../../assets/thunderstorm.png" alt="">
                <span>Température</span>
            </div>
        </li>
        <li>
            <div class="daily">
                <span>Mercredi</span>
                <img src="../../../../../assets/thunderstorm.png" alt="">
                <span>Température</span>
            </div>
        </li>
        <li>
            <div class="daily">
                <span>Jeudi</span>
                <img src="../../../../../assets/thunderstorm-heavy.png" alt="">
                <span>Température</span>
            </div>
        </li>
        <li>
            <div class="daily">
                <span>Vendredi</span>
                <img src="../../../../../assets/thunderstorm-heavy.png" alt="">
                <span>Température</span>
            </div>
        </li>
        <li>
            <div class="daily">
                <span>Samedi</span>
                <img src="../../../../../assets/thunderstorm-heavy.png" alt="">
                <span>Température</span>
            </div>
        </li>
        <li>
            <div class="daily">
                <span>Dimanche</span>
                <img src="../../../../../assets/thunderstorm-heavy.png" alt="">
                <span>Température</span>
            </div>
        </li>
    </ul>
</div>
